In [ ]:
#Exercice1

In [2]:
#Excercie2

import operator
lst1 = list(range(1200, 2000, 135)) # (1)
lst2 = [i * 2 for i in lst1 if i % 2 == 0] # (2)
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
o = list(filter(lambda x: operator.mod(x,2) == 0, numbers))
e = list(filter(lambda x: operator.mod(x, 2) != 0, numbers))
print(lst1)
print(lst2)
print(o)
print(e)

[1200, 1335, 1470, 1605, 1740, 1875]
[2400, 2940, 3480]
[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [30]:
#exercice 2
import operator

#Creation du list vide
lst1 = []
for i in range(1200, 2000, 135):
    lst1.append(i) #append les nombres de 1200 a 2000 avec un pas de 135


print(lst1) #affichage de la list



lst1 = list(range(1200, 2000, 135))
lst2 = []#creation de la list vide


for i in (lst1):  #2
  if i % 2 == 0 :
    lst2.append(i*2) #on append la multiplication des nombres multiple de 2 et on les multiplit par 2

print(lst2)


numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

o = [x for x in numbers if operator.mod(x, 2) == 0]
print(o) #on affiche x is x est un multiple de 2


e = [x for x in numbers if operator.mod(x, 2) != 0]
print(e) # on affiche x si x % 2 est different de 0

[1200, 1335, 1470, 1605, 1740, 1875]
[2400, 2940, 3480]
[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [40]:

def transform(chain):
    try:
        # Extraire les entiers de chaque chaîne et les mettre dans un ensemble pour eliminer les doublons
        entier1 = set(map(int, [x.strip() for x in chain[0].split(',')]))
        entier2 = set(map(int, [x.strip() for x in chain[1].split(',')]))

        # Intersectons des ensembles pour trouver les entiers communs
        entiers_communs = sorted(list(entier1.intersection(entier2)))

        # Concatenation du nom, prénom et classe avec les entiers communs
        resultat = f"{', '.join(map(str, entiers_communs))}:Saboubanga_Willane_Jaures_Master1"
    except ValueError:
        resultat = None

    return resultat


# vous ne modifierez rien après cette ligne
if __name__ == "__main__":
    arr1 = ["1, 3, 4, 7, 13", "1, 2, 4, 13, 15"]
    out = transform(arr1)
    print(out) # doit afficher ---> 31,4,1:nom_prenom_classe
    arr3 = ["9, 3, 5, 7, 14", "10, 2, 6, 16, 15"]
    out = transform(arr3)
    print(out) # doit afficher ---> None

1, 4, 13:Saboubanga_Willane_Jaures_Master1
:Saboubanga_Willane_Jaures_Master1

In [44]:
import sqlite3

#function
def findNumber(tableau):
    x = min(tableau)
    y = max(tableau)

    for i in range(x, y):
        if i not in tableau:
            nombre_manquant = i

            # Stocker le nombre manquant dans une table SQLite
            connecte = sqlite3.connect('databaseqq_data.db')
            cursor = connecte.cursor()

            # Créer une table s'il n'existe pas
            cursor.execute('CREATE TABLE IF NOT EXISTS nombres_manquants (nombre INT)')

            # Insérer le nombre manquant dans la table
            cursor.execute('INSERT INTO nombres_manquants VALUES (?)', (nombre_manquant,))

            # Enregistrer les modifications et fermer la connexion
            connecte.commit()
            connecte.close()

            return nombre_manquant

#testons
exemple = [1, 2, 3, 5, 6]
resultat = findNumber(exemple)
print(f"Nombre manquant : {resultat}")

Nombre manquant : 4